<div class="border-2 border-transparent">
  <p>{{ playerName }}</p>
  <p class="text-sm leading-none">{{ playerDetail?.type }}</p>
  <div class="p-3">
    <p>Score: {{ playerDetail?.currentScore }}</p>
    <p>Network: {{ playerDetail?.currentLength }}</p>
  </div>
  <div class="flex flex-col space-y-4 w-full place-items-center">
    <div class="flex space-x-4 items-center">
      <div class="flex items-center space-x-2">
        <img src="/assets/game/Resource-Red.png" class="h-8 w-8" />
        <p>{{ playerDetail?.redResources }}</p>
      </div>
      <div class="flex items-center space-x-2">
        <img src="/assets/game/Resource-Green.png" class="h-8 w-8" />
        <p>{{ playerDetail?.greenResources }}</p>
      </div>
    </div>
    <div class="flex space-x-4 items-center">
      <div class="flex items-center space-x-2">
        <img src="/assets/game/Resource-Blue.png" class="h-8 w-8" />
        <p>{{ playerDetail?.blueResources }}</p>
      </div>
      <div class="flex items-center space-x-2">
        <img src="/assets/game/Resource-Yellow.png" class="h-8 w-8" />
        <p>{{ playerDetail?.yellowResources }}</p>
      </div>
    </div>
  </div>
  <!-- These should only be visible if the player is both local and human -->
  <div class="flex flex-col space-y-3 pt-3 text-center"
    *ngIf="true">
    <div class="flex space-x-3">
      <div class="button" [ngClass]="getDynamicClass()" (click)="triggerUndo()">
        Undo
      </div>
      <div class="button" [ngClass]="getDynamicClass()" (click)="triggerTrading()">
        Trade
      </div>
    </div>
    <div class="button" [ngClass]="getDynamicClass()" (click)="triggerEndTurn()">
      End Turn
    </div>
  </div>
</div>