@layer components {
  .menu-btn {
    @apply p-5 bg-gray-600 border-4 border-gray-900 cursor-pointer hover:border-gray-300 focus:outline-none transition-colors duration-100;
  }

  .menu-input {
    @apply border-4 bg-gray-900 border-gray-600 cursor-text hover:border-gray-300 focus-within:border-gray-300;
  }

  .menu-btn-disabled {
    @apply bg-gray-900 border-gray-600 text-gray-600 cursor-default pointer-events-none;
  }

  .input-text {
    @apply appearance-none bg-gray-900 w-full h-full focus:ring-0 border-0 p-5 text-center;
  }

  .input-range {
    @apply appearance-none bg-gray-900 w-full h-full focus:ring-0 border-0 py-5 text-center;
  }

  .submenu-container {
    @apply w-screen h-screen text-center;
  }

  .submenu-header {
    @apply w-full text-6xl font-bold tracking-wider p-4 mb-4 border-b border-gray-900 bg-black bg-opacity-75;
  }

  .submenu-body {
    @apply flex flex-col items-center justify-center space-y-4 mx-auto;
  }

  .submenu-footer {
    @apply flex flex-col items-center justify-center mx-auto w-full p-4 border-t border-gray-900 absolute bottom-0 bg-black bg-opacity-75;
  }

  .boardSeed-error {
    @apply border-4 border-red-600;
  }
}

.background-btn {
  height: 134.22px;
}

.bg-caves {
  background: url('/assets/menu/bg_cave.png');
  opacity: 0.3;
}

.bg-mountains {
  background: url('/assets/menu/bg_main.png') fixed repeat-x bottom;
  background-size: cover;
  opacity: 0.9;
}

// Custom range style props

input[type=range] {
  -webkit-appearance: none;
  height: 3.8rem;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  @apply bg-gray-300;
  height: 3.8rem;
  width: 1rem;
  cursor: pointer;
  -webkit-appearance: none;
}