@layer components {
  .menu-btn {
    @apply p-5 bg-gray-600 border-4 border-gray-900 w-1/3 cursor-pointer hover:border-gray-300 focus:outline-none transition-colors duration-100;
  }

  .menu-input {
    @apply border-4 bg-gray-900 border-gray-600 w-1/3 cursor-text;
  }

  .input-text {
    @apply appearance-none bg-gray-900 w-full h-full focus:ring-0 border-0 p-5 text-center;
  }

  .submenu-container {
    @apply w-screen h-screen text-center;
  }

  .submenu-header {
    @apply w-full text-6xl font-bold tracking-wider p-5 mb-10 border-b border-gray-900 bg-black bg-opacity-75;
  }

  .submenu-body {
    @apply flex flex-col items-center space-y-5 mx-auto flex-grow h-full;
  }

  .submenu-footer {
    @apply flex flex-col items-center justify-center mx-auto w-full p-5 border-t border-gray-900 absolute bottom-0 bg-black bg-opacity-75;
  }
}

.background-btn {
  height: 134.22px;
}

.bg-caves {
  background: url('/assets/menu/bg_cave.png');
  opacity: 0.3;
}

.bg-mountains {
  background: url('/assets/menu/bg_main.png') fixed repeat-x bottom;
  background-size: cover;
  opacity: 0.75;
}