//
// Dynamic Classes
// The preceding slash for background images must be removed for production builds.
// It will work fine in the browser, but fail to load when packaged in Electron.
// This is likely an issue with webpack.
//

// Regular Tiles

.tile-red-1 {
  background: url('/assets/game/tiles/Red-1.png') no-repeat center;
}

.tile-red-2 {
  background: url('/assets/game/tiles/Red-2.png') no-repeat center;
}

.tile-red-3 {
  background: url('/assets/game/tiles/Red-3.png') no-repeat center;
}

.tile-green-1 {
  background: url('/assets/game/tiles/Green-1.png') no-repeat center;
}

.tile-green-2 {
  background: url('/assets/game/tiles/Green-2.png') no-repeat center;
}

.tile-green-3 {
  background: url('/assets/game/tiles/Green-3.png') no-repeat center;
}

.tile-blue-1 {
  background: url('/assets/game/tiles/Blue-1.png') no-repeat center;
}

.tile-blue-2 {
  background: url('/assets/game/tiles/Blue-2.png') no-repeat center;
}

.tile-blue-3 {
  background: url('/assets/game/tiles/Blue-3.png') no-repeat center;
}

.tile-yellow-1 {
  background: url('/assets/game/tiles/Yellow-1.png') no-repeat center;
}

.tile-yellow-2 {
  background: url('/assets/game/tiles/Yellow-2.png') no-repeat center;
}

.tile-yellow-3 {
  background: url('/assets/game/tiles/Yellow-3.png') no-repeat center;
}

.tile-blank {
  background: url('/assets/game/tiles/Blank.png') no-repeat center;
}

// Captured Tiles

.tile-red-capture-orange {
  background: url('/assets/game/tiles/Red-Capture-Orange.png') no-repeat center;
}

.tile-red-capture-purple {
  background: url('/assets/game/tiles/Red-Capture-Purple.png') no-repeat center;
}

.tile-green-capture-orange {
  background: url('/assets/game/tiles/Green-Capture-Orange.png') no-repeat center;
}

.tile-green-capture-purple {
  background: url('/assets/game/tiles/Green-Capture-Purple.png') no-repeat center;
}

.tile-blue-capture-orange {
  background: url('/assets/game/tiles/Blue-Capture-Orange.png') no-repeat center;
}

.tile-blue-capture-purple {
  background: url('/assets/game/tiles/Blue-Capture-Purple.png') no-repeat center;
}

.tile-yellow-capture-orange {
  background: url('/assets/game/tiles/Yellow-Capture-Orange.png') no-repeat center;
}

.tile-yellow-capture-purple {
  background: url('/assets/game/tiles/Yellow-Capture-Purple.png') no-repeat center;
}

// Exhausted Tiles

.tile-red-exhausted {
  background: url('/assets/game/tiles/Red-Exhausted.png') no-repeat center;
}

.tile-green-exhausted {
  background: url('/assets/game/tiles/Green-Exhausted.png') no-repeat center;
}

.tile-blue-exhausted {
  background: url('/assets/game/tiles/Blue-Exhausted.png') no-repeat center;
}

.tile-yellow-exhausted {
  background: url('/assets/game/tiles/Yellow-Exhausted.png') no-repeat center;
}

// Branches

.branch-orange-x {
  background: url('/assets/game/Orange-Branch-Horizontal.png') no-repeat center;
}

.branch-orange-y {
  background: url('/assets/game/Orange-Branch.png') no-repeat center;
}

.branch-purple-x {
  background: url('/assets/game/Purple-Branch-Horizontal.png') no-repeat center;
}

.branch-purple-y {
  background: url('/assets/game/Purple-Branch.png') no-repeat center;
}

.branch-blank-x {
  background: url('/assets/game/Blank-Branch-Horizontal.png') no-repeat center;
}

.branch-blank-y {
  background: url('/assets/game/Blank-Branch.png') no-repeat center;
}

// Nodes

.node-orange {
  background: url('/assets/game/Orange-Node.png') no-repeat center;
}

.node-purple {
  background: url('/assets/game/Purple-Node.png') no-repeat center;
}

.node-blank {
  background: url('/assets/game/Blank-Node.png') no-repeat center;
}

// Utilities

@layer components {
  .available {
    @apply cursor-pointer border-2 border-transparent hover:border-gray-300 transition-colors duration-300;
  }

  .unavailable {
    @apply cursor-default;
  }

  .occupied {
    @apply cursor-not-allowed;
  }
}

//
// Common Classes
//

@layer components {
  .gameboard {
    @apply mx-auto flex flex-col space-y-8;
  }

  .tile-container {
    @apply flex flex-row space-x-8 justify-center;
  }

  .tile {
    @apply w-24 h-24;
  }

  .node-gameboard {
    @apply mx-auto flex flex-col space-y-8;
  }

  .node-container {
    @apply flex flex-row spacing-x-nodes justify-center;
  }

  .node {
    @apply w-7 h-7 pointer-events-auto rounded-lg border-transparent;
  }

  .branch-y-container {
    @apply flex flex-row spacing-x-v-branches justify-center;
  }

  .branch-y {
    @apply w-5 h-20 pointer-events-auto;
  }

  .branch-x-container {
    @apply flex flex-row justify-center spacing-x-h-branches;
  }

  .branch-x {
    @apply w-20 h-5 pointer-events-auto;
  }

  .menu-btn {
    @apply p-3 bg-gray-600 border-4 border-gray-900 flex-grow cursor-pointer hover:border-gray-300 focus:outline-none transition-colors duration-100;
  }

  .menu-btn-light {
    @apply p-3 bg-gray-900 border-4 border-gray-600 flex-grow cursor-pointer hover:border-gray-300 focus:outline-none transition-colors duration-100;
  }

  .resource-button-trade {
    @apply border-4 border-gray-600 flex-grow hover:border-gray-300 cursor-pointer transition-colors duration-100;
  }
}

.spacing-x-nodes > * + * {
  --tw-space-x-reverse: 0;
  --tw-space-calc-lvl: 6.25rem;
  margin-right: calc(var(--tw-space-calc-lvl) * var(--tw-space-x-reverse));
  margin-left: calc(var(--tw-space-calc-lvl) * calc(1 - var(--tw-space-x-reverse)));
}

.spacing-y-nodes > * + * {
  --tw-space-y-reverse: 0;
  margin-top: calc(6.2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(6.2rem * var(--tw-space-y-reverse));
}

.spacing-x-v-branches > * + * {
  --tw-space-x-reverse: 0;
  margin-right: calc(6.74rem * var(--tw-space-x-reverse));
  margin-left: calc(6.74rem * calc(1 - var(--tw-space-x-reverse)));
}

.spacing-y-v-branches > * + * {
  --tw-space-y-reverse: 0;
  margin-top: calc(2.9rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2.9rem * var(--tw-space-y-reverse));
}

.spacing-x-h-branches > * + * {
  --tw-space-x-reverse: 0;
  --tw-space-calc-lvl: 3rem;
  margin-right: calc(var(--tw-space-calc-lvl) * var(--tw-space-x-reverse));
  margin-left: calc(var(--tw-space-calc-lvl) * calc(1 - var(--tw-space-x-reverse)));
}

.spacing-y-h-branches > * + * {
  --tw-space-y-reverse: 0;
  margin-top: calc(6.74rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(6.74rem * var(--tw-space-y-reverse));
}

.bg-overlay {
  --tw-bg-opacity: 0.7;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}