<style>
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111827; 
  padding: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #374151;
  /* Equivalant to tailwind's gray-700*/
  border-radius: 5px;
}
</style>

<!-- Teleporter, Background -->
<div class="h-screen w-screen overscroll-none text-center absolute top-0 right-0 z-neg pointer-events-none" [ngClass]="getBackground()"></div>
<!-- <div class="overscroll-none absolute top-0 right-0 z-inf">
  <img src="/assets/game/locations/teleporter-bg1.png" draggable="false" id="teleporter"/>
</div> -->

<!-- Teleporter -->
<div class="h-screen w-screen overscroll-none text-center absolute top-0 right-0 bg-black z-inf"
  *ngIf="this.gameIntro">
  <div class="flex flex-row items-center content-center h-full">
    <video autoplay preload="auto" (ended)="introEnded()" #video>
      <source src="assets/game/locations/bg1-teleporter.mp4" type="video/mp4" />
    </video>
  </div>
</div>

<!-- Everything Else -->
<div class="h-screen w-screen overscroll-none text-center">

  

  <!-- Top Right Menu Container -->
  <div class="absolute left-3 top-3 flex space-x-3">
    <div id="Pause" class="menu-btn p-3" (click)="togglePaused()" boombox="button">
      <p>Menu</p>
    </div>
    <div id="Help" class="menu-btn p-3" (click)="toggleHelp()" boombox="button">
      <p>Help</p>
    </div>
  </div>

  <!-- Exchange Rates -->
  <div class="absolute bottom-4 w-screen flex flex-row justify-center">
    <div class="border-4 p-2 border-gray-600 bg-gray-900 flex flex-col text-xl">
      <div class="flex flex-row justify-between items-center space-x-2">
        <img src="/assets/game/resources/Red-Resource-Tile.png" draggable="false">
        <p>+</p>
        <img src="/assets/game/resources/Blue-Resource-Tile.png" draggable="false">
        <p>=</p>
        <img [src]="getBranchSrc()" draggable="false">
      </div>
      <div class="flex flex-row justify-between items-center space-x-4">
        <div class="flex flex-row space-x-0">
          <img src="/assets/game/resources/Yellow-Resource-Tile.png" draggable="false">
          <img src="/assets/game/resources/Yellow-Resource-Tile.png" draggable="false">
        </div>
        <p>+</p>
        <div class="flex flex-row space-x-0">
          <img src="/assets/game/resources/Green-Resource-Tile.png" draggable="false">
          <img src="/assets/game/resources/Green-Resource-Tile.png" draggable="false">
        </div>
        <p>=</p>
        <img [src]="getNodeSrc()" draggable="false">
      </div>
    </div>
  </div>

  <!-- Top Information Container -->
  <div class="h-screen w-screen overscroll-none text-center absolute top-0 right-0 z-50 mt-4 pointer-events-none">
    <p class="p-3">{{ this.gameManager.getCurrentPlayerEnum() === 'PLAYERONE' ? 'Player One' : 'Player Two' }}'s Turn</p>
  </div>

  <!-- Chat Container -->
  <div class="absolute top-3 right-3 flex flex-col w-96" *ngIf="this.isNetwork || this.isTutorial">
    <div id="chat-container" [ngClass]="dynamicGTBox()"
      class="border-4 bg-gray-900 border-gray-600 overflow-y-auto overflow-x-hidden text-left text-base w-full h-44 p-2">
    </div>
    
    <div class="space-y-3 pt-3 text-center align-middle">

      <form id="network-controls" class="flex flex-row space-x-3 w-full text-xl" *ngIf="this.isNetwork"
      (ngSubmit)="sendMessage()">
        <div class="menu-input w-2/3 content-center">
          <input id="chat-input" type="text" class="input-text text-xl" placeholder="Send a message!">
        </div>
        <input type="submit" class="p-1 text-xl" [ngClass]="dynamicChatButton()" value="Send">
      </form>
    
      <div id="tut-controls" class="flex justify-between w-full" *ngIf="this.isTutorial">
          <div id="GT-Back" (click)="GTBtn($event)" class="menu-btn absolute w-1/3 left-0 pointer-events-auto" boombox="button">
            Back
          </div>
          <div id="GT-Next" (click)="GTBtn($event)" class="menu-btn absolute w-1/3 right-0 pointer-events-auto" boombox="button">
            Next
          </div>
      </div>
  
    </div>
  </div>

  <!-- Pause Modal Container -->
  <div class="h-screen w-screen overscroll-none text-center absolute top-0 right-0 bg-overlay z-50" *ngIf="this.gamePaused">
    <div class="flex flex-row items-center content-center h-full">
      <div class="mx-auto flex flex-col space-y-4 w-1/3 max-w-md">
        <p class="text-5xl font-bold tracking-wide p-4">Paused</p>
        <div class="menu-btn w-full pointer-events-auto" (click)="toggleHelp()" boombox="button">
          <div>
            <p>Help</p>
          </div>
        </div>
        <div class="menu-btn w-full pointer-events-auto" (click)="copyBoardSeed()" boombox="button">
          <div>
            <p>Copy Board Seed</p>
          </div>
        </div>
        <div class="flex space-x-4 w-full">
          <div class="menu-btn-light w-1/3 pointer-events-auto" (click)="exitButton()" boombox="button">
            <div>
              <p>Exit</p>
            </div>
          </div>
          <div class="menu-btn w-1/3 pointer-events-auto" (click)="togglePaused()" boombox="button">
            <div>
              <p>Resume</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Help Modal Container -->
  <div class="h-screen w-screen overscroll-none text-center absolute top-0 right-0 bg-overlay z-50" *ngIf="this.showHelp">
    <div class="flex flex-row items-center content-center h-full">
      <div class="flex flex-col items-center space-y-4 mx-auto w-full">
        <app-help-slideshow inGame="true"></app-help-slideshow>
        <div class="menu-btn w-1/3 pointer-events-auto" (click)="toggleHelp()" boombox="button">
          <div>
            <p>Back</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Trade Modal Container -->
  <div class="h-screen w-screen overscroll-none text-center absolute top-0 right-0 bg-overlay z-50 pointer-events-auto" *ngIf="this.isTrading">
    <div class="flex flex-row items-center content-center h-full">
      <div class="mx-auto flex flex-col space-y-4 w-1/3 max-w-lg">
        <p class="text-5xl font-bold tracking-wide p-5">Trading</p>
        <div class="flex flex-col space-y-4 bg-black border-4 border-gray-600 p-4">
          <p class="font-normal">Trades can only be executed once per turn.</p>
          <p>Trade any three for one.</p>
          <div class="flex space-x-4 justify-center">
            <div class="text-center w-full pt-4"
              *ngIf="this.gameManager.getCurrentPlayer().redResources === 0 &&
              this.gameManager.getCurrentPlayer().greenResources === 0 &&
              this.gameManager.getCurrentPlayer().blueResources === 0 && this.gameManager.getCurrentPlayer().yellowResources === 0">
              <p>You have no resources to trade.</p>
            </div>
            <div id="1" class="resource-button-trade relative" *ngIf="this.gameManager.getCurrentPlayer().redResources > 0" (click)="tradingModel.increment(1)" boombox="button">
              <span class="flex w-full h-full absolute items-center justify-center text-3xl">{{ tradingModel.redResources }}</span>
              <img src="/assets/game/resources/Red-Resource-Tile.png" class="w-full h-full" draggable="false" />
            </div>
            <div id="2" class="resource-button-trade relative" *ngIf="this.gameManager.getCurrentPlayer().greenResources > 0" (click)="tradingModel.increment(2)" boombox="button">
              <span class="flex w-full h-full absolute items-center justify-center text-3xl">{{ tradingModel.greenResources }}</span>
              <img src="/assets/game/resources/Green-Resource-Tile.png" class="w-full h-full" draggable="false" />
            </div>
            <div id="3" class="resource-button-trade relative" *ngIf="this.gameManager.getCurrentPlayer().blueResources > 0" (click)="tradingModel.increment(3)" boombox="button">
              <span class="flex w-full h-full absolute items-center justify-center text-3xl">{{ tradingModel.blueResources }}</span>
              <img src="/assets/game/resources/Blue-Resource-Tile.png" class="w-full h-full" draggable="false" />
            </div>
            <div id="4" class="resource-button-trade relative" *ngIf="this.gameManager.getCurrentPlayer().yellowResources > 0" [ngClass]="tradingModel.dynamicClass(44)" (click)="tradingModel.increment(4)" boombox="button">
              <span class="flex w-full h-full absolute items-center justify-center text-3xl">{{ tradingModel.yellowResources }}</span>
              <img src="/assets/game/resources/Yellow-Resource-Tile.png" class="w-full h-full" draggable="false" />
            </div>
          </div>
          <div class="flex justify-center p-4">
            <svg class="w-6 h-6" fill="none" stroke-linecap="round" stroke-linejoin="round"
              stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
              <path d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
            </svg>
          </div>
          <div class="flex space-x-4">
            <div class="resource-button-trade" [ngClass]="tradingModel.dynamicClass(1)" (click)="tradingModel.select(1)" boombox="button">
              <img src="/assets/game/resources/Red-Resource-Tile.png" class="w-full h-full" draggable="false" />
            </div>
            <div class="resource-button-trade" [ngClass]="tradingModel.dynamicClass(2)" (click)="tradingModel.select(2)" boombox="button">
              <img src="/assets/game/resources/Green-Resource-Tile.png" class="w-full h-full" draggable="false" />
            </div>
            <div id="blue" class="resource-button-trade" [ngClass]="tradingModel.dynamicClass(3)" (click)="tradingModel.select(3)" boombox="button">
              <img src="/assets/game/resources/Blue-Resource-Tile.png" class="w-full h-full" draggable="false" />
            </div>
            <div class="resource-button-trade" [ngClass]="tradingModel.dynamicClass(4)" (click)="tradingModel.select(4)" boombox="button">
              <img src="/assets/game/resources/Yellow-Resource-Tile.png" class="w-full h-full" draggable="false" />
            </div>
          </div>
          <div class="flex space-x-4 w-full flex-grow-0">
            <div class="menu-btn-light w-full flex-grow pointer-events-auto" (click)="cancelTrading()" boombox="button">
              <div>
                <p>Cancel</p>
              </div>
            </div>
            <div id="confirmTrade" class="menu-btn w-full flex-grow pointer-events-auto" (click)="executeTrade()" boombox="trade1">
              <div>
                <p>Trade</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Game Over Modal Container -->
  <div class="h-screen w-screen overscroll-none text-center absolute top-0 right-0 bg-overlay z-50" *ngIf="this.gameOver">
    <div class="flex flex-row items-center content-center h-full">
      <div class="mx-auto flex flex-col space-y-4 w-1/3 max-w-lg">
        <p class="text-5xl font-bold tracking-wide p-4">{{ this.gameOverText }}</p>
        <div class="flex flex-col space-y-4 bg-black border-4 border-gray-600 p-4">
          <!-- <p class="text-3xl">Player One</p> -->
          <p class="text-2xl font-normal">Score: {{ this.winningPlayer.currentScore }}</p>
          <div class="flex space-x-4 justify-center">
            <div class="w-1/4 bg-black relative border-4 border-gray-600">
              <span class="flex w-full h-full absolute items-start justify-center text-4xl pt-1">+{{ this.winningPlayer.numNodesPlaced }}</span>
              <span class="flex w-full h-full absolute items-end justify-center uppercase font-normal pb-1">Tools Placed</span>
              <img src="/assets/game/Resource-Red.png" class="w-full h-full opacity-0" draggable="false"/>
            </div>
            <div class="w-1/4 bg-black relative border-4 border-gray-600">
              <span class="flex w-full h-full absolute items-start justify-center text-4xl pt-1">+{{ this.winningPlayer.numTilesCaptured }}</span>
              <span class="flex w-full h-full absolute items-end justify-center uppercase font-normal pb-1">Sites Captured</span>
              <img src="/assets/game/Resource-Red.png" class="w-full h-full opacity-0" draggable="false"/>
            </div>
            <div class="w-1/4 bg-black relative border-4 border-gray-600" *ngIf="this.winningPlayer.hasLongestNetwork">
              <span class="flex w-full h-full absolute items-start justify-center text-4xl pt-1">+2</span>
              <span class="flex w-full h-full absolute items-end justify-center uppercase font-normal pb-1">Longest Path</span>
              <img src="/assets/game/Resource-Red.png" class="w-full h-full opacity-0" draggable="false"/>
            </div>
          </div>
          <p class="text-2xl font-normal">{{ this.gameManager.getCurrentPlayerEnum() === 'PLAYERONE' ? 'Player One' : 'Player Two' }}'s largest set of connectin' paths was {{ this.winningPlayer.currentLongest }}.</p>
          <div class="flex space-x-4 w-full flex-grow-0">
            <div class="menu-btn-light w-full flex-grow pointer-events-auto" routerLink="/menu/landing">
              <div>
                <p>Exit</p>
              </div>
            </div>
            <div class="menu-btn w-full flex-grow pointer-events-auto" (click)="playAgain()">
              <div>
                <p>Play Again</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Opponent Forfeit Modal-->
  <div class="h-screen w-screen overscroll-none text-center absolute top-0 right-0 bg-overlay z-50"
  *ngIf="this.opponentQuit">
    <div class="flex flex-row items-center content-center h-full">
      <div class="mx-auto flex flex-col space-y-4 w-2/3 max-w-md">
        <div class="bg-black border-4 border-gray-600 p-4">
          <p class="text-4xl font-bold tracking-wide p-4">{{ this.oppUsername }} Quit the Game</p>
          <div class="flex w-full space-x-4">
            <div class="menu-btn-light w-1/3 flex-grow pointer-events-auto" routerLink="/menu/landing">
              <div>
                <p>Exit</p>
              </div>
            </div>
            <div class="menu-btn w-1/3 flex-grow pointer-events-auto" routerLink="/menu/new/online">
              <div>
                <p>Play Again</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Player Shards Container -->
  <div class="h-screen w-screen overscroll-none text-center absolute top-0 pointer-events-none right-0 z-40">
    <div class="mx-auto relative w-full h-full"> <!-- keeping this div if max-w becomes an issue here -->
      <div id="player1" class="absolute bottom-3 left-3">
        <app-player-shard [playerDetail]="this.gameManager.getPlayerOne()" [actionSubject]="this.commLink"
          [playerName]="'Player One'" [currentPlayer]="gameManager.getCurrentPlayerEnum() === 'PLAYERONE'"
          [isConnected]="this.isConnected" [stackLength]="this.gameManager.stack.length"
          [canTrade]="this.getCanTrade()" playerEnum="PLAYERONE"></app-player-shard>
      </div>
      <div id="player2" class="absolute bottom-3 right-3">
        <app-player-shard [playerDetail]="this.gameManager.getPlayerTwo()" [actionSubject]="this.commLink"
          [playerName]="'Player Two'" [currentPlayer]="gameManager.getCurrentPlayerEnum() === 'PLAYERTWO'"
          [isConnected]="this.isConnected" [stackLength]="this.gameManager.stack.length"
          [canTrade]="this.getCanTrade()" playerEnum="PLAYERTWO"></app-player-shard>
      </div>
    </div>
  </div>

  <!-- Tiles -->
  <div class="flex flex-row items-center content-center h-full justify-between">
    <div class="gameboard">
      <div class="tile-container">
        <div id="T0" (click)="clickPiece($event)" class="tile" [ngClass]="assemblePieceClass('T', 0)"></div>
      </div>
      <div class="tile-container">
        <div id="T1" (click)="clickPiece($event)" class="tile" [ngClass]="assemblePieceClass('T', 1)"></div>
        <div id="T2" (click)="clickPiece($event)" class="tile" [ngClass]="assemblePieceClass('T', 2)"></div>
        <div id="T3" (click)="clickPiece($event)" class="tile" [ngClass]="assemblePieceClass('T', 3)"></div>
      </div>
      <div class="tile-container">
        <div id="T4" (click)="clickPiece($event)" class="tile" [ngClass]="assemblePieceClass('T', 4)"></div>
        <div id="T5" (click)="clickPiece($event)" class="tile" [ngClass]="assemblePieceClass('T', 5)"></div>
        <div id="T6" (click)="clickPiece($event)" class="tile" [ngClass]="assemblePieceClass('T', 6)"></div>
        <div id="T7" (click)="clickPiece($event)" class="tile" [ngClass]="assemblePieceClass('T', 7)"></div>
        <div id="T8" (click)="clickPiece($event)" class="tile" [ngClass]="assemblePieceClass('T', 8)"></div>
      </div>
      <div class="tile-container">
        <div id="T9" (click)="clickPiece($event)" class="tile" [ngClass]="assemblePieceClass('T', 9)"></div>
        <div id="T10" (click)="clickPiece($event)" class="tile" [ngClass]="assemblePieceClass('T', 10)"></div>
        <div id="T11" (click)="clickPiece($event)" class="tile" [ngClass]="assemblePieceClass('T', 11)"></div>
      </div>
      <div class="tile-container">
        <div id="T12" (click)="clickPiece($event)" class="tile" [ngClass]="assemblePieceClass('T', 12)"></div>
      </div>
    </div>
  </div>
</div>

<!-- Nodes -->
<div class="h-screen w-screen overscroll-none text-center absolute top-0 right-0 pointer-events-none">
  <div class="flex flex-row items-center content-center h-full">
    <div class="mx-auto flex flex-col spacing-y-nodes">
      <div class="node-container">
        <div id="N0" (click)="clickPiece($event)" class="node" [ngClass]="assemblePieceClass('N', 0)"></div>
        <div id="N1" (click)="clickPiece($event)" class="node" [ngClass]="assemblePieceClass('N', 1)"></div>
      </div>
      <div class="node-container">
        <div id="N2" (click)="clickPiece($event)" class="node" [ngClass]="assemblePieceClass('N', 2)"></div>
        <div id="N3" (click)="clickPiece($event)" class="node" [ngClass]="assemblePieceClass('N', 3)"></div>
        <div id="N4" (click)="clickPiece($event)" class="node" [ngClass]="assemblePieceClass('N', 4)"></div>
        <div id="N5" (click)="clickPiece($event)" class="node" [ngClass]="assemblePieceClass('N', 5)"></div>
      </div>
      <div class="node-container">
        <div id="N6" (click)="clickPiece($event)" class="node" [ngClass]="assemblePieceClass('N', 6)"></div>
        <div id="N7" (click)="clickPiece($event)" class="node" [ngClass]="assemblePieceClass('N', 7)"></div>
        <div id="N8" (click)="clickPiece($event)" class="node" [ngClass]="assemblePieceClass('N', 8)"></div>
        <div id="N9" (click)="clickPiece($event)" class="node" [ngClass]="assemblePieceClass('N', 9)"></div>
        <div id="N10" (click)="clickPiece($event)" class="node" [ngClass]="assemblePieceClass('N', 10)"></div>
        <div id="N11" (click)="clickPiece($event)" class="node" [ngClass]="assemblePieceClass('N', 11)"></div>
      </div>
      <div class="node-container">
        <div id="N12" (click)="clickPiece($event)" class="node" [ngClass]="assemblePieceClass('N', 12)"></div>
        <div id="N13" (click)="clickPiece($event)" class="node" [ngClass]="assemblePieceClass('N', 13)"></div>
        <div id="N14" (click)="clickPiece($event)" class="node" [ngClass]="assemblePieceClass('N', 14)"></div>
        <div id="N15" (click)="clickPiece($event)" class="node" [ngClass]="assemblePieceClass('N', 15)"></div>
        <div id="N16" (click)="clickPiece($event)" class="node" [ngClass]="assemblePieceClass('N', 16)"></div>
        <div id="N17" (click)="clickPiece($event)" class="node" [ngClass]="assemblePieceClass('N', 17)"></div>
      </div>
      <div class="node-container">
        <div id="N18" (click)="clickPiece($event)" class="node" [ngClass]="assemblePieceClass('N', 18)"></div>
        <div id="N19" (click)="clickPiece($event)" class="node" [ngClass]="assemblePieceClass('N', 19)"></div>
        <div id="N20" (click)="clickPiece($event)" class="node" [ngClass]="assemblePieceClass('N', 20)"></div>
        <div id="N21" (click)="clickPiece($event)" class="node" [ngClass]="assemblePieceClass('N', 21)"></div>
      </div>
      <div class="node-container">
        <div id="N22" (click)="clickPiece($event)" class="node" [ngClass]="assemblePieceClass('N', 22)"></div>
        <div id="N23" (click)="clickPiece($event)" class="node" [ngClass]="assemblePieceClass('N', 23)"></div>
      </div>
    </div>
  </div>
</div>

<!-- Vertical Branches -->
<div class="h-screen w-screen overscroll-none text-center absolute top-0 right-0 pointer-events-none">
  <div class="flex flex-row items-center content-center h-full">
    <div class="mx-auto flex flex-col spacing-y-v-branches">
      <div class="branch-y-container">
        <div id="B1" (click)="clickPiece($event)" class="branch-y" [ngClass]="assemblePieceClass('BY', 1)"></div>
        <div id="B2" (click)="clickPiece($event)" class="branch-y" [ngClass]="assemblePieceClass('BY', 2)"></div>
      </div>
      <div class="branch-y-container">
        <div id="B6" (click)="clickPiece($event)" class="branch-y" [ngClass]="assemblePieceClass('BY', 6)"></div>
        <div id="B7" (click)="clickPiece($event)" class="branch-y" [ngClass]="assemblePieceClass('BY', 7)"></div>
        <div id="B8" (click)="clickPiece($event)" class="branch-y" [ngClass]="assemblePieceClass('BY', 8)"></div>
        <div id="B9" (click)="clickPiece($event)" class="branch-y" [ngClass]="assemblePieceClass('BY', 9)"></div>
      </div>
      <div class="branch-y-container">
        <div id="B15" (click)="clickPiece($event)" class="branch-y" [ngClass]="assemblePieceClass('BY', 15)"></div>
        <div id="B16" (click)="clickPiece($event)" class="branch-y" [ngClass]="assemblePieceClass('BY', 16)"></div>
        <div id="B17" (click)="clickPiece($event)" class="branch-y" [ngClass]="assemblePieceClass('BY', 17)"></div>
        <div id="B18" (click)="clickPiece($event)" class="branch-y" [ngClass]="assemblePieceClass('BY', 18)"></div>
        <div id="B19" (click)="clickPiece($event)" class="branch-y" [ngClass]="assemblePieceClass('BY', 19)"></div>
        <div id="B20" (click)="clickPiece($event)" class="branch-y" [ngClass]="assemblePieceClass('BY', 20)"></div>
      </div>
      <div class="branch-y-container">
        <div id="B26" (click)="clickPiece($event)" class="branch-y" [ngClass]="assemblePieceClass('BY', 26)"></div>
        <div id="B27" (click)="clickPiece($event)" class="branch-y" [ngClass]="assemblePieceClass('BY', 27)"></div>
        <div id="B28" (click)="clickPiece($event)" class="branch-y" [ngClass]="assemblePieceClass('BY', 28)"></div>
        <div id="B29" (click)="clickPiece($event)" class="branch-y" [ngClass]="assemblePieceClass('BY', 29)"></div>
      </div>
      <div class="branch-y-container">
        <div id="B33" (click)="clickPiece($event)" class="branch-y" [ngClass]="assemblePieceClass('BY', 33)"></div>
        <div id="B34" (click)="clickPiece($event)" class="branch-y" [ngClass]="assemblePieceClass('BY', 34)"></div>
      </div>
    </div>
  </div>
</div>

<!-- Horizontal Branches -->
<div class="h-screen w-screen overscroll-none text-center absolute top-0 right-0 pointer-events-none">
  <div class="flex flex-row items-center content-center h-full">
    <div class="mx-auto flex flex-col spacing-y-h-branches">
      <div class="branch-x-container">
        <div id="B0" (click)="clickPiece($event)" class="branch-x" [ngClass]="assemblePieceClass('BX', 0)"></div>
      </div>
      <div class="branch-x-container">
        <div id="B3" (click)="clickPiece($event)" class="branch-x" [ngClass]="assemblePieceClass('BX', 3)"></div>
        <div id="B4" (click)="clickPiece($event)" class="branch-x" [ngClass]="assemblePieceClass('BX', 4)"></div>
        <div id="B5" (click)="clickPiece($event)" class="branch-x" [ngClass]="assemblePieceClass('BX', 5)"></div>
      </div>
      <div class="branch-x-container">
        <div id="B10" (click)="clickPiece($event)" class="branch-x" [ngClass]="assemblePieceClass('BX', 10)"></div>
        <div id="B11" (click)="clickPiece($event)" class="branch-x" [ngClass]="assemblePieceClass('BX', 11)"></div>
        <div id="B12" (click)="clickPiece($event)" class="branch-x" [ngClass]="assemblePieceClass('BX', 12)"></div>
        <div id="B13" (click)="clickPiece($event)" class="branch-x" [ngClass]="assemblePieceClass('BX', 13)"></div>
        <div id="B14" (click)="clickPiece($event)" class="branch-x" [ngClass]="assemblePieceClass('BX', 14)"></div>
      </div>
      <div class="branch-x-container">
        <div id="B21" (click)="clickPiece($event)" class="branch-x" [ngClass]="assemblePieceClass('BX', 21)"></div>
        <div id="B22" (click)="clickPiece($event)" class="branch-x" [ngClass]="assemblePieceClass('BX', 22)"></div>
        <div id="B23" (click)="clickPiece($event)" class="branch-x" [ngClass]="assemblePieceClass('BX', 23)"></div>
        <div id="B24" (click)="clickPiece($event)" class="branch-x" [ngClass]="assemblePieceClass('BX', 24)"></div>
        <div id="B25" (click)="clickPiece($event)" class="branch-x" [ngClass]="assemblePieceClass('BX', 25)"></div>
      </div>
      <div class="branch-x-container">
        <div id="B30" (click)="clickPiece($event)" class="branch-x" [ngClass]="assemblePieceClass('BX', 30)"></div>
        <div id="B31" (click)="clickPiece($event)" class="branch-x" [ngClass]="assemblePieceClass('BX', 31)"></div>
        <div id="B32" (click)="clickPiece($event)" class="branch-x" [ngClass]="assemblePieceClass('BX', 32)"></div>
      </div>
      <div class="branch-x-container">
        <div id="B35" (click)="clickPiece($event)" class="branch-x" [ngClass]="assemblePieceClass('BX', 35)"></div>
      </div>
    </div>
  </div>
</div>