//
// Dynamic Classes
//

// Tiles

.tile-blank {
  background: url('/assets/game/tiles/Blank-Tile.png') no-repeat center;
}

.tile-blank-capture-purple-miner {
  background: url('/assets/game/tiles/Blank-Tile-Capture-Purple-Miner.png') no-repeat center;
}

.tile-blank-capture-orange-machine {
  background: url('/assets/game/tiles/Blank-Tile-Capture-Orange-Machine.png') no-repeat center;
}

.tile-blank-capture-orange-miner {
  background: url('/assets/game/tiles/Blank-Tile-Capture-Orange-Miner.png') no-repeat center;
}

.tile-blank-capture-purple-machine {
  background: url('/assets/game/tiles/Blank-Tile-Capture-Purple-Machine.png') no-repeat center;
}

.tile-blue-capture-orange-machine-1 {
  background: url('/assets/game/tiles/One-Tile-Blue-Capture-Orange-Machine.png') no-repeat center;
}

.tile-blue-capture-orange-miner-1 {
  background: url('/assets/game/tiles/One-Tile-Blue-Capture-Orange-Miner.png') no-repeat center;
}

.tile-blue-capture-purple-machine-1 {
  background: url('/assets/game/tiles/One-Tile-Blue-Capture-Purple-Machine.png') no-repeat center;
}

.tile-blue-capture-purple-miner-1 {
  background: url('/assets/game/tiles/One-Tile-Blue-Capture-Purple-Miner.png') no-repeat center;
}

.tile-blue-exhausted-1 {
  background: url('/assets/game/tiles/One-Tile-Blue-Exhausted.png') no-repeat center;
}

.tile-blue-1 {
  background: url('/assets/game/tiles/One-Tile-Blue.png') no-repeat center;
}

.tile-green-exhausted-1 {
  background: url('/assets/game/tiles/One-Tile-Green-Exhausted.png') no-repeat center;
}

.tile-green-1 {
  background: url('/assets/game/tiles/One-Tile-Green.png') no-repeat center;
}

.tile-red-exhausted-1 {
  background: url('/assets/game/tiles/One-Tile-Red-Exhausted.png') no-repeat center;
}

.tile-red-1 {
  background: url('/assets/game/tiles/One-Tile-Red.png') no-repeat center;
}

.tile-yellow-exhausted-1 {
  background: url('/assets/game/tiles/One-Tile-Yellow-Exhausted.png') no-repeat center;
}

.tile-yellow-1 {
  background: url('/assets/game/tiles/One-Tile-Yellow.png') no-repeat center;
}

.tile-blue-exhausted-3 {
  background: url('/assets/game/tiles/Three-Tile-Blue-Exhausted.png') no-repeat center;
}

.tile-blue-3 {
  background: url('/assets/game/tiles/Three-Tile-Blue.png') no-repeat center;
}

.tile-green-exhausted-3 {
  background: url('/assets/game/tiles/Three-Tile-Green-Exhausted.png') no-repeat center;
}

.tile-green-3 {
  background: url('/assets/game/tiles/Three-Tile-Green.png') no-repeat center;
}

.tile-red-exhausted-3 {
  background: url('/assets/game/tiles/Three-Tile-Red-Exhausted.png') no-repeat center;
}

.tile-red-3 {
  background: url('/assets/game/tiles/Three-Tile-Red.png') no-repeat center;
}

.tile-yellow-exhausted-3 {
  background: url('/assets/game/tiles/Three-Tile-Yellow-Exhausted.png') no-repeat center;
}

.tile-yellow-3 {
  background: url('/assets/game/tiles/Three-Tile-Yellow.png') no-repeat center;
}

.tile-blue-exhausted-2 {
  background: url('/assets/game/tiles/Two-Tile-Blue-Exhausted.png') no-repeat center;
}

.tile-blue-2 {
  background: url('/assets/game/tiles/Two-Tile-Blue.png') no-repeat center;
}

.tile-green-exhausted-2 {
  background: url('/assets/game/tiles/Two-Tile-Green-Exhausted.png') no-repeat center;
}

.tile-green-2 {
  background: url('/assets/game/tiles/Two-Tile-Green.png') no-repeat center;
}

.tile-red-exhausted-2 {
  background: url('/assets/game/tiles/Two-Tile-Red-Exhausted.png') no-repeat center;
}

.tile-red-2 {
  background: url('/assets/game/tiles/Two-Tile-Red.png') no-repeat center;
}

.tile-yellow-exhausted-2 {
  background: url('/assets/game/tiles/Two-Tile-Yellow-Exhausted.png') no-repeat center;
}

.tile-yellow-2 {
  background: url('/assets/game/tiles/Two-Tile-Yellow.png') no-repeat center;
}

.tile-green-captured-orange-machine-1 {
  background: url('/assets/game/tiles/One-Tile-Green-Capture-Orange-Machine.png') no-repeat center;
}

.tile-green-captured-orange-miner-1 {
  background: url('/assets/game/tiles/One-Tile-Green-Capture-Orange-Miner.png') no-repeat center;
}

.tile-green-captured-purple-machine-1 {
  background: url('/assets/game/tiles/One-Tile-Green-Capture-Purple-Machine.png') no-repeat center;
}

.tile-green-captured-purple-miner-1 {
  background: url('/assets/game/tiles/One-Tile-Green-Capture-Purple-Miner.png') no-repeat center;
}

.tile-red-captured-orange-machine-1 {
  background: url('/assets/game/tiles/One-Tile-Red-Capture-Orange-Machine.png') no-repeat center;
}

.tile-red-captured-orange-miner-1 {
  background: url('/assets/game/tiles/One-Tile-Red-Capture-Orange-Miner.png') no-repeat center;
}

.tile-red-captured-purple-machine-1 {
  background: url('/assets/game/tiles/One-Tile-Red-Capture-Purple-Machine.png') no-repeat center;
}

.tile-red-captured-purple-miner-1 {
  background: url('/assets/game/tiles/One-Tile-Red-Capture-Purple-Miner.png') no-repeat center;
}

.tile-yellow-captured-orange-machine-1 {
  background: url('/assets/game/tiles/One-Tile-Yellow-Capture-Orange-Machine.png') no-repeat center;
}

.tile-yellow-captured-orange-miner-1 {
  background: url('/assets/game/tiles/One-Tile-Yellow-Capture-Orange-Miner.png') no-repeat center;
}

.tile-yellow-captured-purple-machine-1 {
  background: url('/assets/game/tiles/One-Tile-Yellow-Capture-Purple-Machine.png') no-repeat center;
}

.tile-yellow-captured-purple-miner-1 {
  background: url('/assets/game/tiles/One-Tile-Yellow-Capture-Purple-Miner.png') no-repeat center;
}

.tile-blue-captured-orange-machine-3 {
  background: url('/assets/game/tiles/Three-Tile-Blue-Capture-Orange-Machine.png') no-repeat center;
}

.tile-blue-captured-orange-miner-3 {
  background: url('/assets/game/tiles/Three-Tile-Blue-Capture-Orange-Miner.png') no-repeat center;
}

.tile-blue-captured-purple-machine-3 {
  background: url('/assets/game/tiles/Three-Tile-Blue-Capture-Purple-Machine.png') no-repeat center;
}

.tile-blue-captured-purple-miner-3 {
  background: url('/assets/game/tiles/Three-Tile-Blue-Capture-Purple-Miner.png') no-repeat center;
}

.tile-green-captured-orange-machine-3 {
  background: url('/assets/game/tiles/Three-Tile-Green-Capture-Orange-Machine.png') no-repeat center;
}

.tile-green-captured-orange-miner-3 {
  background: url('/assets/game/tiles/Three-Tile-Green-Capture-Orange-Miner.png') no-repeat center;
}

.tile-green-captured-purple-machine-3 {
  background: url('/assets/game/tiles/Three-Tile-Green-Capture-Purple-Machine.png') no-repeat center;
}

.tile-green-captured-purple-miner-3 {
  background: url('/assets/game/tiles/Three-Tile-Green-Capture-Purple-Miner.png') no-repeat center;
}

.tile-red-captured-orange-machine-3 {
  background: url('/assets/game/tiles/Three-Tile-Red-Capture-Orange-Machine.png') no-repeat center;
}

.tile-red-captured-orange-miner-3 {
  background: url('/assets/game/tiles/Three-Tile-Red-Capture-Orange-Miner.png') no-repeat center;
}

.tile-red-captured-purple-machine-3 {
  background: url('/assets/game/tiles/Three-Tile-Red-Capture-Purple-Machine.png') no-repeat center;
}

.tile-red-captured-purple-miner-3 {
  background: url('/assets/game/tiles/Three-Tile-Red-Capture-Purple-Miner.png') no-repeat center;
}

.tile-yellow-captured-orange-machine-3 {
  background: url('/assets/game/tiles/Three-Tile-Yellow-Capture-Orange-Machine.png') no-repeat center;
}

.tile-yellow-captured-orange-miner-3 {
  background: url('/assets/game/tiles/Three-Tile-Yellow-Capture-Orange-Miner.png') no-repeat center;
}

.tile-yellow-captured-purple-machine-3 {
  background: url('/assets/game/tiles/Three-Tile-Yellow-Capture-Purple-Machine.png') no-repeat center;
}

.tile-yellow-captured-purple-miner-3 {
  background: url('/assets/game/tiles/Three-Tile-Yellow-Capture-Purple-Miner.png') no-repeat center;
}

.tile-blue-captured-orange-machine-2 {
  background: url('/assets/game/tiles/Two-Tile-Blue-Capture-Orange-Machine.png') no-repeat center;
}

.tile-blue-captured-orange-miner-2 {
  background: url('/assets/game/tiles/Two-Tile-Blue-Capture-Orange-Miner.png') no-repeat center;
}

.tileblue-captured-purple-machine-2 {
  background: url('/assets/game/tiles/Two-Tile-Blue-Capture-Purple-Machine.png') no-repeat center;
}

.tileblue-captured-purple-machine-2 {
  background: url('/assets/game/tiles/Two-Tile-Blue-Capture-Purple-Miner.png') no-repeat center;
}

.tile-green-captured-orange-machine-2 {
  background: url('/assets/game/tiles/Two-Tile-Green-Capture-Orange-Machine.png') no-repeat center;
}

.tile-green-captured-orange-miner-2 {
  background: url('/assets/game/tiles/Two-Tile-Green-Capture-Orange-Miner.png') no-repeat center;
}

.tile-green-captured-purple-machine-2 {
  background: url('/assets/game/tiles/Two-Tile-Green-Capture-Purple-Machine.png') no-repeat center;
}

.tile-green-captured-purple-miner-2 {
  background: url('/assets/game/tiles/Two-Tile-Green-Capture-Purple-Miner.png') no-repeat center;
}

.tile-red-captured-orange-machine-2 {
  background: url('/assets/game/tiles/Two-Tile-Red-Capture-Orange-Machine.png') no-repeat center;
}

.tile-red-captured-orange-miner-2 {
  background: url('/assets/game/tiles/Two-Tile-Red-Capture-Orange-Miner.png') no-repeat center;
}

.tile-red-captured-purple-machine-2 {
  background: url('/assets/game/tiles/Two-Tile-Red-Capture-Purple-Machine.png') no-repeat center;
}

.tile-red-captured-purple-miner-2 {
  background: url('/assets/game/tiles/Two-Tile-Red-Capture-Purple-Miner.png') no-repeat center;
}

.tile-yellow-captured-orange-machine-2 {
  background: url('/assets/game/tiles/Two-Tile-Yellow-Capture-Orange-Machine.png') no-repeat center;
}

.tile-yellow-captured-orange-miner-2 {
  background: url('/assets/game/tiles/Two-Tile-Yellow-Capture-Orange-Miner.png') no-repeat center;
}

.tile-yellow-captured-purple-machine-2 {
  background: url('/assets/game/tiles/Two-Tile-Yellow-Capture-Purple-Machine.png') no-repeat center;
}

.tile-yellow-captured-purple-miner-2 {
  background: url('/assets/game/tiles/Two-Tile-Yellow-Capture-Purple-Miner.png') no-repeat center;
}


// Branches

.branch-orange-x-machine {
  background: url('/assets/game/branches/Horizontal-Track-Orange-Machine.png') no-repeat center;
}

.branch-orange-x-miner {
  background: url('/assets/game/branches/Horizontal-Track-Orange-Miner.png') no-repeat center;
}

.branch-purple-x-machine {
  background: url('/assets/game/branches/Horizontal-Track-Purple-Machine.png') no-repeat center;
}

.branch-purple-x-miner {
  background: url('/assets/game/branches/Horizontal-Track-Purple-Miner.png') no-repeat center;
}

.branch-orange-y-machine {
  background: url('/assets/game/branches/Vertical-Track-Orange-Machine.png') no-repeat center;
}

.branch-orange-y-miner {
  background: url('/assets/game/branches/Vertical-Track-Orange-Miner.png') no-repeat center;
}

.branch-purple-y-machine {
  background: url('/assets/game/branches/Vertical-Track-Purple-Machine.png') no-repeat center;
}

.branch-purple-y-miner {
  background: url('/assets/game/branches/Vertical-Track-Purple-Miner.png') no-repeat center;
}

.branch-blank-x {
  background: url('/assets/game/branches/Horizontal-Track-Blank.png') no-repeat center;
}

.branch-blank-y {
  background: url('/assets/game/branches/Vertical-Track-Blank.png') no-repeat center;
}

// Nodes

.node-orange-machine {
  background: url('/assets/game/nodes/Orange-Node-Drill.png') no-repeat center;
}

.node-orange-miner {
  background: url('/assets/game/nodes/Orange-Node-Pickaxe.png') no-repeat center;
}

.node-purple-machine {
  background: url('/assets/game/nodes/Purple-Node-Drill.png') no-repeat center;
}

.node-purple-miner {
  background: url('/assets/game/nodes/Purple-Node-Pickaxe.png') no-repeat center;
}


.node-blank {
  background: url('/assets/game/nodes/Blank-Node.png') no-repeat center;
}

// Utilities

@layer components {
  .available {
    @apply cursor-pointer border-2 border-transparent hover:border-gray-300 transition-colors duration-300;
  }

  .unavailable {
    @apply cursor-default;
  }

  .occupied {
    @apply cursor-not-allowed;
  }
}

//
// Common Classes
//

@layer components {
  .gameboard {
    @apply mx-auto flex flex-col space-y-8;
  }

  .tile-container {
    @apply flex flex-row space-x-8 justify-center;
  }

  .tile {
    @apply w-24 h-24;
  }

  .node-gameboard {
    @apply mx-auto flex flex-col space-y-8;
  }

  .node-container {
    @apply flex flex-row spacing-x-nodes justify-center;
  }

  .node {
    @apply w-7 h-7 pointer-events-auto rounded-lg border-transparent;
  }

  .branch-y-container {
    @apply flex flex-row spacing-x-v-branches justify-center;
  }

  .branch-y {
    @apply w-5 h-20 pointer-events-auto;
  }

  .branch-x-container {
    @apply flex flex-row justify-center spacing-x-h-branches;
  }

  .branch-x {
    @apply w-20 h-5 pointer-events-auto;
  }

  .menu-btn {
    @apply p-3 bg-gray-600 border-4 border-gray-900 flex-grow cursor-pointer hover:border-gray-300 focus:outline-none transition-colors duration-100;
  }

  .menu-btn-light {
    @apply p-3 bg-gray-900 border-4 border-gray-600 flex-grow cursor-pointer hover:border-gray-300 focus:outline-none transition-colors duration-100;
  }

  .menu-btn-disabled {
    @apply bg-gray-900 border-gray-600 text-gray-600 cursor-default pointer-events-none;
  }

  .resource-button-trade {
    @apply border-4 border-gray-600 hover:border-gray-300 cursor-pointer transition-colors duration-100 w-1/4 bg-black;
  }

  .menu-input {
    @apply border-4 bg-gray-600 border-gray-900 cursor-text hover:border-gray-300 focus-within:border-gray-300;
  }

  .input-text {
    @apply appearance-none bg-gray-600 w-full focus:ring-0 border-0 p-2 text-left;
  }

  .selected {
    @apply border-4 border-gray-300;
  }

  .disabled {
    @apply bg-gray-600 opacity-50;
  }
}

.spacing-x-nodes > * + * {
  --tw-space-x-reverse: 0;
  --tw-space-calc-lvl: 6.25rem;
  margin-right: calc(var(--tw-space-calc-lvl) * var(--tw-space-x-reverse));
  margin-left: calc(var(--tw-space-calc-lvl) * calc(1 - var(--tw-space-x-reverse)));
}

.spacing-y-nodes > * + * {
  --tw-space-y-reverse: 0;
  margin-top: calc(6.2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(6.2rem * var(--tw-space-y-reverse));
}

.spacing-x-v-branches > * + * {
  --tw-space-x-reverse: 0;
  margin-right: calc(6.74rem * var(--tw-space-x-reverse));
  margin-left: calc(6.74rem * calc(1 - var(--tw-space-x-reverse)));
}

.spacing-y-v-branches > * + * {
  --tw-space-y-reverse: 0;
  margin-top: calc(2.9rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2.9rem * var(--tw-space-y-reverse));
}

.spacing-x-h-branches > * + * {
  --tw-space-x-reverse: 0;
  --tw-space-calc-lvl: 3rem;
  margin-right: calc(var(--tw-space-calc-lvl) * var(--tw-space-x-reverse));
  margin-left: calc(var(--tw-space-calc-lvl) * calc(1 - var(--tw-space-x-reverse)));
}

.spacing-y-h-branches > * + * {
  --tw-space-y-reverse: 0;
  margin-top: calc(6.74rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(6.74rem * var(--tw-space-y-reverse));
}

.bg-overlay {
  --tw-bg-opacity: 0.7;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}

.bg1 {
  background: url('/assets/game/locations/bg1.png') no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  opacity: 1;
}

.bg2 {
  background: url('/assets/game/locations/bg2.png') no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  opacity: 1;
}

.bg3 {
  background: url('/assets/game/locations/bg3.png') no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  opacity: 1;
}

.teleporter-bg-1 {
  background: url('/assets/game/locations/teleporter-bg1.png');
  image-rendering: pixelated;
  opacity: 1;
}