<div class="flex space-between w-full justify-center h-full flex-grow" id="help-slideshow-container">
  <div class="flex justify-center items-center w-full h-full px-4 space-x-4 flex-grow">
    <div class="flex menu-btn" [ngClass]="dynamicClass('prev')" (click)="decrementSlides()" boombox="button">
      Prev
    </div>

    <div class="flex px-4 h-full w-full flex-grow" id="actual-slides">
      <div class="flex flex-col space-y-4 h-full w-full flex-grow">
        <div class="flex flex-col space-y-4 h-full flex-grow" *ngIf="currentSlide === 0">
          <h1>Help Manual Table of Contents</h1>
          <div class="flex space-x-4 w-full items-center">
            <div class="flex-1 flex-col space-y-4">
              <div class="table-of-contents" (click)=tableOfContents(1)>
                1. Introduction
              </div>
              <div class="table-of-contents" (click)=tableOfContents(2)>
                2. Game Pieces
              </div>
              <div class="table-of-contents" (click)=tableOfContents(3)>
                3. Buyin' Tools and Paths
              </div>
              <div class="table-of-contents" (click)=tableOfContents(4)>
                4. Startin' the Game
              </div>
              <div class="table-of-contents" (click)=tableOfContents(5)>
                5. Helpful Hints
              </div>
              <div class="table-of-contents" (click)=tableOfContents(6)>
                6. Tuckered Out Sites
              </div>
            </div>

            <div class="flex-1 flex-col space-y-4">
              <div class="table-of-contents" (click)=tableOfContents(7)>
                7. Claimin' a Site
              </div>
              <div class="table-of-contents" (click)=tableOfContents(8)>
                8. Tradin' Post
              </div>
              <div class="table-of-contents" (click)=tableOfContents(9)>
                9. How To Win
              </div>
              <div class="table-of-contents" (click)=tableOfContents(10)>
                10. Settin' Up a Competition
              </div>
              <div class="table-of-contents" (click)=tableOfContents(11)>
                11. "On The Line" Technology
              </div>
              <div class="table-of-contents" (click)=tableOfContents(12)>
                12. Options Menu
              </div>
            </div>
          </div>
      </div>

        <div class="flex flex-col space-y-4 h-full flex-grow" *ngIf="currentSlide === 1">
          <h1>MasterMine</h1>
          <div class="flex space-x-4 w-full items-center">
            <div class="flex-1 flex-col space-y-4">
              <p>
                Howdy, pardners! Welcome to the MasterMines.
              </p>
              <p>
                Miner and Machine are facin' off to get rich quick by makin' Paths and pickin' Sites full of Gems.
              </p>
              <p *ngIf="this.inGame === 'false'">
                Click on this here "Guided Tutorial" button to join a duel and learn the ropes while ya play, or click "Next" to just keep on readin'.
              </p>
              <div class="GT-btn inline-block align-middle flex-grow" (click)="startGuidedTutorial($event)" *ngIf="this.inGame === 'false'">Start Guided Tutorial</div>
            </div>
            <div class="flex-1">
              <img class="boardImg" src="/assets/help/testBoard.png" />
            </div>
            <div class="flex-1">
              <img class="boardImg" src="/assets/help/testBoard.png" />
            </div>
          </div>
        </div>

        <!--<div class="flex flex-col space-y-4 h-full flex-grow" *ngIf="currentSlide === 2">
          <h1>Settin' Up a Competition</h1>
          <div class="flex w-full items-center space-x-4">
            <div class="flex-1 flex-col space-y-4">
              <div class="flex space-between">
                <div>
                  <p>Single Player vs. AI</p>
                  <p>Who goes first?
                    Difficulty:</p>
                  <p>Greenhorn</p>
                  <p>MasterMiner</p>
                  <p>Guided Tour of the Mine ON or OFF<br>
                    * only for Greenhorn level game *</p>
                </div>
                <div>
                  <p>Multiplayer</p>
                  <p>Who goes first?</p>
                  <p>Pick who is the Machine and who is the Prospector</p>
                </div>
              </div>
            </div>
            <div class="flex-1">
              <img class="boardImg" src="/assets/help/testBoard.png" />
            </div>
          </div>
          <div class="pt-4">{{currentSlide}}/{{maxSlides}}</div>
        </div>-->

        <!--
        <div class="flex flex-col space-y-4 h-full flex-grow" *ngIf="currentSlide === 2">
          <h1>Learnin' the Ropes</h1>
          <div class="flex space-x-4 w-full items-center">
            <div class="flex-1 flex-col space-y-4">
              
            </div>
            <div class="flex-1">
              <img class="boardImg" src="/assets/help/testBoard.png" />
            </div>
          </div>
          <div class="pt-4">{{currentSlide}}/{{maxSlides}}</div>
        </div>
      -->

        <div class="flex flex-col space-y-4 h-full flex-grow" *ngIf="currentSlide === 2">
          <h1>Game Pieces</h1>
          <div class="flex space-x-4 w-full items-center">
            <div class="flex-1 space-y-4">
              <div class="flex flex-col space-y-4 items-center">
                <div>
                  <img src="/assets/game/tiles/Three-Tile-Red.png" />
                </div>
                <div>
                  <p>
                    Sites are all over the mine and tell ya which of them Gems can be mined there.
                    Each Site'll also tell ya how many Tools it can have on its corners.
                  </p>
                </div>
              </div>
            </div>
            <div class="flex-1 space-y-4">
              <div class="flex flex-col space-y-4 items-center">
                <div>
                  <img src="/assets/game/branches/Vertical-Track-Orange-Miner.png">
                </div>
                <div>
                  <p>
                    These here Paths are how y’all traverse the mine.
                    Ya can only lay down a Path if it's next to a Path ya already placed.
                  </p>
                </div>
              </div>
            </div>
            <div class="flex-1 space-y-4">
              <div class="flex flex-col space-y-4 items-center">
                <div>
                  <img src="/assets/game/nodes/Orange-Node-Pickaxe.png" />
                </div>
                <div>
                  <p>
                    Tools are placed on a Site's corners and must be connectin' to one of your Paths.
                  </p>
                  <p>
                    For each of them Tools you got on a Site's corners, you'll nab one of its Gems at the start of each turn.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-col space-y-4 h-full w-full flex-grow" *ngIf="currentSlide === 3">
          <h1>Buyin' Tools and Paths</h1>
          <img src="/assets/help/priceCard.PNG" />
          <!--
          <div class="flex flex-row w-full h- full justify-center">
            <div class="border-4 p-4 border-gray-600 bg-gray-900 flex flex-col text-3xl space-y-3">
              <div class="flex flex-row justify-between items-center space-x-3">
                <img class="priceImg" src="/assets/game/resources/Red-Resource-Tile.png" draggable="false">
                <p>+</p>
                <img class="priceImg" src="/assets/game/resources/Blue-Resource-Tile.png" draggable="false">
                <p>=</p>
                <img class="priceImg" src="/assets/game/branches/Horizontal-Track-Orange-Miner.png" draggable="false">
              </div>
              <div class="flex flex-row justify-between items-center space-x-4">
                <div class="flex flex-row space-x-0">
                  <img class="priceImg" src="/assets/game/resources/Yellow-Resource-Tile.png" draggable="false">
                  <img class="priceImg" src="/assets/game/resources/Yellow-Resource-Tile.png" draggable="false">
                </div>
                <p>+</p>
                <div class="flex flex-row space-x-0">
                  <img class="priceImg" src="/assets/game/resources/Green-Resource-Tile.png" draggable="false">
                  <img class="priceImg" src="/assets/game/resources/Green-Resource-Tile.png" draggable="false">
                </div>
                <p>=</p>
                <img class="priceImg" src="/assets/game/nodes/Orange-Node-Pickaxe.png" draggable="false">
              </div>
            </div> 
          </div>
        -->
        </div>

        <div class="flex flex-col space-y-4 h-full flex-grow" *ngIf="currentSlide === 4">
          <h1>Startin' the Game</h1>
          <div class="flex space-x-4 w-full items-center">
            <div class="flex-1 flex-col space-y-4">
              <p>
                Each of y’all gonna get 2 sets of Tools and Paths at the start of a duel.
              </p>
              <p>
                Player 1 places a Tool and a connecting Path anywhere they want to start us off.
              </p>
              <p>
                After that, to keep things fair and square, we do a little do-si-do where Player 2 takes two turns before Player 1 gets to go again.
              </p>
            </div>
            <div class="flex-1">
              <img src="/assets/help/firstMoves.PNG" />
            </div>
          </div>
        </div>

        <div class="flex flex-col space-y-4 h-full flex-grow" *ngIf="currentSlide === 5">
          <h1>Helpful Hints</h1>
          <div class="flex space-x-4 w-full items-center">
            <div class="flex-1 flex-col space-y-4">
              <p>
                Only in these startin’ turns can your Tools and Paths not be connectin' with other Tools and Paths.
              </p>
              <p>
                If y’all ever be regrettin’ your turn, just hit "Undo!"
              </p>
              <p>
                Once you’ve settled your mind, hit “End Turn” to let your opponent have a go.
              </p>
            </div>
            <div class="flex-1">
              <img src="/assets/help/openingMovePlayerShard.png" />
            </div>
          </div>
        </div>

        <!--
        <div class="flex flex-col space-y-4 h-full flex-grow" *ngIf="currentSlide === 6">
          <h1>Start of Each Turn</h1>
          <div class="flex space-x-4 items-center w-full">
            <div class="flex-1 flex-col space-y-4">
              <p>
                Let the games begin!
              </p>
              <p>
                Now, before you start making moves on your turn, your hard work will start to pay off.
                At the start of each turn you get your earnings of one gem from each site you have a mining marker touchin’.
              </p>
            </div>
            <div class="flex-1">
              <img src="/assets/help/testBoard.png" />
            </div>
          </div>
          <div class="pt-4">{{currentSlide}}/{{maxSlides}}</div>
        </div>
      -->

      <!--
        <div class="flex flex-col space-y-4 h-full flex-grow" *ngIf="currentSlide === 7">
          <h1>Buildin' Your Operation</h1>
          <div class="flex space-x-4 items-center w-full">
            <div class="flex flex-col space-y-4 flex-grow">
              <p>
                Now that y’all got two startin’ points to your mining operation
                you can build rails and place mining markers off either of your startin’ points.
              </p>
              <p>
                Other miners can place their mining markers in your path but your rails’ve gotta connect.
              </p>
            </div>
            <div class="flex-1">
              <img class="boardImg" src="/assets/help/testBoard.png" />
            </div>
          </div>
          <div class="pt-4">{{currentSlide}}/{{maxSlides}}</div>
        </div>
      -->

        <div class="flex flex-col space-y-4 h-full flex-grow" *ngIf="currentSlide === 6">
          <h1>All Tuckered Out</h1>
          <div class="flex space-x-4 items-center w-full">
            <div class="flex-1 flex-col space-y-4">
              <p>
                Now ya can't be havin' more Tools on a Site than there are Gems.
                If ya do, that Site is gonna get "Tuckered Out" and ain't nobody gettin' Gems from it, no matter how many Tools they got on its corners.
              </p>
            </div>
            <div class="flex flex-grow justify-center items-center">
              <img class="boardImg" src="/assets/help/exhaustedLarger.PNG" />
            </div>
          </div>
        </div>

        <div class="flex flex-col space-y-4 h-full flex-grow" *ngIf="currentSlide === 7">
          <h1>Claimin' a Site</h1>
          <div class="flex space-x-4 items-center w-full">
            <div class="flex-1 flex-col space-y-4">
              <p>
                Stake your claim for exclusive minin’ rights by surroundin' Sites with your Paths!
              </p>
              <p>
                If you surround a Site, only you can mine it. Others can put their Tools to work there, but they won't be gettin' any Gems.
              </p>
              <p>
                Best of all, a surrounded Site can't be Tuckered Out!
              </p>
            </div>
            <div class="flex flex-grow justify-center items-center">
              <img class="boardImg" src="/assets/help/captured.PNG" />
            </div>
          </div>
        </div>

      

        <div class="flex flex-col space-y-4 h-full flex-grow" *ngIf="currentSlide === 8">
          <h1>Tradin' Post</h1>
          <div class="flex space-x-4 w-full items-center">
            <div class="flex-1 flex-col space-y-4">
              <p>
                Missin' the right Gems? Head on down to the Trading Post!
              </p>
              <p>
                Trade any combination of 3 Gems for 1 Gem of any other type.
              </p>
              <p>
                Now don't get too greedy! You can only make 1 Trade per turn. 
              </p>
            </div>
            <div class="flex-1">
              <img class="boardImg" src="/assets/help/trade.PNG" />
            </div>
          </div>
        </div>

        <div class="flex flex-col space-y-4 h-full flex-grow" *ngIf="currentSlide === 9">
          <h1>How To Win</h1>
          <div class="flex space-x-4 items-center w-full">
            <div class="flex-1 flex-col space-y-4">
              <p>
                The first of y'all to 10 points wins!
              </p>
              <p>
                Ya get 1 point for each Tool placed.
              </p>
              <p>
                Ya get 1 point for each Site you surround.
              </p>
              <p>
                Ya get 2 points if ya have the longest set of connectin' Paths.
              </p>
            </div>
            <div class="flex-1">
              <img class="boardImg" src="/assets/help/testBoard.png" />
            </div>
          </div>
        </div>

        <div class="flex flex-col space-y-4 h-full flex-grow" *ngIf="currentSlide === 10">
          <h1>Settin' Up a Competition</h1>
          <div class="flex space-x-4 w-full items-center">
            <div class="flex-1 flex-col space-y-4">
              <p>Pick your Minin' Background<br></p>
              <p>Click on the buttons to sort between all our nifty options for your duel.</p>
              <p>
                Want to make your own mine?
              </p>
              <p>
                Enter some blueprints just like the ones below, separated by commas, and make sure each o’
                them letter/number pairings come up just once in the list.
              </p>
              <p>
                R1, R2, R3, B1, B2, B3, G1, G2, G3, Y1, Y2, Y3, 00
              </p>
            </div>
            <div class="flex-1">
              <img class="boardImg" src="/assets/help/testBoard.png" />
            </div>
          </div>
        </div>

        <div class="flex flex-col space-y-4 h-full flex-grow" *ngIf="currentSlide === 11">
          <h1>Newfangled "On The Line" Technology</h1>
          <div class="flex space-x-4 w-full items-center">
            <div class="flex-1">
              <p>Here y'all get to duel with folks from all over.</p>
              <p>Want to start the duel yourself? Click "Host Game" and pick them there settings
                like you'd normally do.</p>
                <p>
                  Now just sit back and wait 'til somebody comes along
                  to accept your challenge.
              </p>
            </div>
            <div class="flex-1">
              <img src="/assets/help/testBoard.png" />
            </div>
          </div>
        </div>

        <div class="flex flex-col space-y-4 h-full flex-grow" *ngIf="currentSlide === 12">
          <h1>Options Menu</h1>
          <div class="flex space-x-4 items-center w-full">
            <div class="flex-1 flex-col space-y-4">
              <p>
                Visit the "Menu" to look at all our nifty features, where you can change the look
                and sound of your mine, free of charge!
              </p>
              <p>
                Forget how somethin' works in the middle of a duel?
                Mosey on down to the "Help" button in the top left corner of your screen.
              </p>
              <p>
                Giving up already?
                Go on an' git via this here emergency exit shaft.
              </p>

              <p>
                Looks like you're all ready to go! Good luck, pardner!
              </p>
            </div>
            <div class="flex-1">
              <img class="boardImg" src="/assets/help/testBoard.png" />
            </div>
          </div>
        </div>
        <div class="flex space-x-2 w-full items-center justify justify-center">
          <div [ngClass]=tableClass(0) class="slideList pt-4" (click)=tableOfContents(0)>0</div>
          <div [ngClass]=tableClass(1) class="slideList pt-4" (click)=tableOfContents(1)>1</div>
          <div [ngClass]=tableClass(2) class="slideList pt-4" (click)=tableOfContents(2)>2</div>
          <div [ngClass]=tableClass(3) class="slideList pt-4" (click)=tableOfContents(3)>3</div>
          <div [ngClass]=tableClass(4) class="slideList pt-4" (click)=tableOfContents(4)>4</div>
          <div [ngClass]=tableClass(5) class="slideList pt-4" (click)=tableOfContents(5)>5</div>
          <div [ngClass]=tableClass(6) class="slideList pt-4" (click)=tableOfContents(6)>6</div>
          <div [ngClass]=tableClass(7) class="slideList pt-4" (click)=tableOfContents(7)>7</div>
          <div [ngClass]=tableClass(8) class="slideList pt-4" (click)=tableOfContents(8)>8</div>
          <div [ngClass]=tableClass(9) class="slideList pt-4" (click)=tableOfContents(9)>9</div>
          <div [ngClass]=tableClass(10) class="slideList pt-4" (click)=tableOfContents(10)>10</div>
          <div [ngClass]=tableClass(11) class="slideList pt-4" (click)=tableOfContents(11)>11</div>
          <div [ngClass]=tableClass(12) class="slideList pt-4" (click)=tableOfContents(12)>12</div>
        </div>
      </div>
    </div>

    <div class="flex menu-btn" [ngClass]="dynamicClass('next')" (click)="incrementSlides()" boombox="button">
      Next
    </div>
  </div>
</div>