<div class="flex space-between w-full justify-center h-full flex-grow" id="help-slideshow-container">
  <div class="flex justify-center items-center w-full h-full px-4 space-x-4 flex-grow">
    <div class="flex menu-btn" [ngClass]="dynamicClass('prev')" (click)="decrementSlides()">
      Prev
    </div>

    <div class="flex px-4 h-full w-full flex-grow" id="actual-slides">
      <div class="flex flex-col space-y-4 h-full flex-grow" *ngIf="currentSlide === 1">
        <h1>MasterMine</h1>
        <div class="flex space-x-4 w-full items-center">
          <div class="flex-1 flex-col space-y-4">
            <p>
              Howdy partners! Welcome to the MasterMines.
              Here y'all compete in the rush to get rich quick by layin' rails and pickin' sites before your competitors
              do the same.
            </p>
            <p>
              Here in Peppermint Junction we have a classic match of Miner vs. Machine.
              We're fixin' to show y'all the ropes of how things work here in this 'ol town so you can be on your way to
              the mines.
            </p>
          </div>
          <div class="flex-1">
            <img class="boardImg" src="/assets/help/testBoard.png" />
          </div>
        </div>
        <div class="pt-4">{{currentSlide}}/{{maxSlides}}</div>
      </div>

      <!--<div class="flex flex-col space-y-4 h-full flex-grow" *ngIf="currentSlide === 2">
        <h1>Settin' Up a Competition</h1>
        <div class="flex w-full items-center space-x-4">
          <div class="flex-1 flex-col space-y-4">
            <div class="flex space-between">
              <div>
                <p>Single Player vs. AI</p>
                <p>Who goes first?
                  Difficulty:</p>
                <p>Greenhorn</p>
                <p>MasterMiner</p>
                <p>Guided Tour of the Mine ON or OFF<br>
                  * only for Greenhorn level game *</p>
              </div>
              <div>
                <p>Multiplayer</p>
                <p>Who goes first?</p>
                <p>Pick who is the Machine and who is the Prospector</p>
              </div>
            </div>
          </div>
          <div class="flex-1">
            <img class="boardImg" src="/assets/help/testBoard.png" />
          </div>
        </div>
        <div class="pt-4">{{currentSlide}}/{{maxSlides}}</div>
      </div>-->

      <div class="flex flex-col space-y-4 h-full flex-grow" *ngIf="currentSlide === 2">
        <h1>Learnin' the Ropes</h1>
        <div class="flex space-x-4 w-full items-center">
          <div class="flex-1 flex-col space-y-4">
            <p>
              Here in the mines we offer a HELP MANUAL with all the tips and tricks and also a GUIDED TUTORIAL to show you all the rules while in a real competion.
              Click the "guided tutorial" button to join a duel to learn the roaps or click "next" to proceed with the help manual.
            </p>
          </div>
          <div class="flex-1">
            <!-- put buttons here instead of images -->
            <img class="boardImg" src="/assets/help/testBoard.png" />
          </div>
        </div>
        <div class="pt-4">{{currentSlide}}/{{maxSlides}}</div>
      </div>


      <div class="flex flex-col space-y-4 h-full flex-grow" *ngIf="currentSlide === 3">
        <h1>Game Pieces</h1>
        <div class="flex space-x-4 w-full items-center">
          <div class="flex-1 space-y-4">
            <div class="flex flex-col space-y-4 items-center">
              <div>
                <img src="/assets/game/tiles/Green-2.png" />
              </div>
              <div>
                <p>
                  Minin' Sites make up the entire mine and represent which gems y’all can collect from the site. It also shows, pictured in the site, just how many Minin' Markers it can have on its corners.
                </p>
              </div>
            </div>
          </div>
          <div class="flex-1 space-y-4">
            <div class="flex flex-col space-y-4 items-center">
              <div>
                <img src="/assets/game/Blank-Branch.png" />
              </div>
              <div>
                <p>
                  These here tracks are how y’all traverse the mine.
                  Each of a players’ tracks must be adjacent to another of their tracks.
                </p>
              </div>
            </div>
          </div>
          <div class="flex-1 space-y-4">
            <div class="flex flex-col space-y-4 items-center">
              <div>
                <img src="/assets/game/Blank-Node.png" />
              </div>
              <div>
                <p>
                  Mining Markers are placed on the corner of a mining site where y’all want to mine for gems. These have to be connectin’ to one of your rail tracks in the mine.
                </p>
                <p>
                  For each Mining Marker you have touchin' a site with gems you'll get one of that type of gem before each turn after your first two openin' moves.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="pt-4">{{currentSlide}}/{{maxSlides}}</div>
      </div>

      <div class="flex flex-col space-y-4 h-full flex-grow" *ngIf="currentSlide === 4">
        <h1>Startin' the Game</h1>
        <div class="flex space-x-4 w-full items-center">
          <div class="flex-1 flex-col space-y-4">
            <p>
              Each of y’all gets 2 pairs of your team’s mining markers and tracks at the start of the duel.
            </p>
            <p>
              Miner 1 places one mining marker and a connecting track for the starting turn anywhere in the mine.
            </p>
            <p>
              To keep things fair and square we do a little do-si-do in the set up turns like we explained above, rotating from Miner 1 to Miner 2, Miner 2 again, then Miner 1.
            </p>
          </div>
          <div class="flex-1">
            <img src="/assets/help/testBoard.png" />
          </div>
        </div>
        <div class="pt-4">{{currentSlide}}/{{maxSlides}}</div>
      </div>

      <div class="flex flex-col space-y-4 h-full flex-grow" *ngIf="currentSlide === 5">
        <h1>Helpful Hints</h1>
        <div class="flex space-x-4 w-full items-center">
          <div class="flex-1 flex-col space-y-4">
            <p>
              Only in these startin’ turns can your pair be placed not in connection with the other pair.
            </p>
            <p>
              If y’all ever be regrettin’ your turn, just hit "Undo!"
            </p>
            <p>
              Once you’ve settled your mind a bit, just hit “End Turn” to carry on the game.
            </p>
          </div>
          <div class="flex-1">
            <img src="/assets/help/testBoard.png" />
          </div>
        </div>
        <div class="pt-4">{{currentSlide}}/{{maxSlides}}</div>
      </div>

      <div class="flex flex-col space-y-4 h-full flex-grow" *ngIf="currentSlide === 6">
        <h1>Start of Each Turn</h1>
        <div class="flex space-x-4 items-center w-full">
          <div class="flex-1 flex-col space-y-4">
            <p>
              Let the games begin! Now y’all have freedom to place whatever you can afford in the mine.
              Rotatin’ back 'n forth and hittin’ “End Turn” when you’re finished.
            </p>
            <p>
              Now, before you start making moves on your turn, your hard work will start to pay off.
              At the start of each turn you get your earnings of one gem from each site you have a mining marker touchin’.
            </p>
          </div>
          <div class="flex-1">
            <img src="/assets/help/testBoard.png" />
          </div>
        </div>
        <div class="pt-4">{{currentSlide}}/{{maxSlides}}</div>
      </div>


      <div class="flex flex-col space-y-4 h-full flex-grow" *ngIf="currentSlide === 7">
        <h1>Building Your Operation</h1>
        <div class="flex space-x-4 items-center w-full">
          <div class="flex flex-col space-y-4 flex-grow">
            <p>
              Now that y’all got two startin’ points to your mining operation you can build rails and place mining markers off either of your startin’ points.
            </p>
            <p>
              Other miners can place their mining markers in your path but your rails’ve gotta connect.
            </p>
          </div>
          <div class="flex-1">
            <img class="boardImg" src="/assets/help/testBoard.png" />
          </div>
        </div>
        <div class="pt-4">{{currentSlide}}/{{maxSlides}}</div>
      </div>

      <div class="flex flex-col space-y-4 h-full flex-grow" *ngIf="currentSlide === 8">
        <h1>All Tuckered Out</h1>
        <div class="flex space-x-4 items-center w-full">
          <div class="flex-1 flex-col space-y-4">
            <p>
              Now them gems is limited in our mine here and only
              a certain amount can be mined per turn, as indicated
              by the number of gems present on each site.
            </p>
            <p>
              If y’all be tryin’ to corner a minin’ site by
              placing more mining markers than gems on a site,
              then that site is what we folks in the business
              call “tuckered out”. Y’all both cain’t be gettin
              any more gems from that site now.
            </p>
            <p>Y’all can still be puttin’ markers down around
              the “tuckered out” site but you cain’t get gems
              from that site.
            </p>
          </div>
          <div class="flex flex-grow justify-center items-center">
            <img class="boardImg" src="/assets/game/tiles/Yellow-Exhausted.png" />
          </div>
        </div>
        <div class="pt-4">{{currentSlide}}/{{maxSlides}}</div>
      </div>

      <div class="flex flex-col space-y-4 h-full flex-grow" *ngIf="currentSlide === 9">
        <h1>Claimin' a Site</h1>
        <div class="flex space-x-4 items-center w-full">
          <div class="flex-1 flex-col space-y-4">
            <p>
              Stake your claim for exclusive minin’ rights by
              formin’ a perimeter of your rails around one
              or more sites!
            </p>
            <p>
              Once you’ve completely surrounded a site, only
              your business can mine there. Others can put a
              marker or two down but they cain’t get any gems
              from your site or try to cut across your site.
              No opponent tracks allowed here!
            </p>
            <p>
              Best of all, now that you have claimed a site
              there’s no chance to tucker it out! Put as many
              mining markers as you can fit and it’ll still be
              giving you a gem for each touchin' marker before each turn.
            </p>
          </div>
          <div class="flex flex-grow justify-center items-center">
            <img class="boardImg" src="/assets/game/tiles/Blue-Capture-Orange.png" />
          </div>
        </div>
        <div class="pt-4">{{currentSlide}}/{{maxSlides}}</div>
      </div>

      <div class="flex flex-col space-y-4 h-full w-full flex-grow" *ngIf="currentSlide === 10">
        <h1>Buyin' More Minin' Markers and Tracks</h1>
        <div class="flex-1 flex-col space-y-4 items-center p-20 bg-black">
          <!-- branches addition images -->
          <div class="flex space-x-4 w-full">
            <div>
              <img src="/assets/game/Resource-Red.png" />
            </div>
            <div>
              <img src="/assets/help/plus.png" />
            </div>
            <div>
              <img src="/assets/game/Resource-Blue.png" />
            </div>
            <div>
              <img src="/assets/help/equal.png" />
            </div>
            <div>
              <img src="/assets/game/Purple-Branch.png" />
            </div>
            <p> OR </p>
            <div>
              <img src="/assets/game/Orange-Branch-Horizontal.png" />
            </div>
          </div>

          <!-- marker addition image -->
          <div class="flex space-x-4 w-full">
            <div>
              <img src="/assets/game/Resource-Yellow.png" />
            </div>
            <div>
              <img src="/assets/game/Resource-Yellow.png" />
            </div>
            <div>
              <img src="/assets/help/plus.png" />
            </div>
            <div>
              <img src="/assets/game/Resource-Green.png" />
            </div>
            <div>
              <img src="/assets/game/Resource-Green.png" />
            </div>
            <div>
              <img src="/assets/help/equal.png" />
            </div>
            <div>
              <img src="/assets/game/Orange-Node.png" />
              <p> OR </p>
              <img src="/assets/game/Purple-Node.png" />
            </div>
          </div>
        </div>
        <div class="pt-4">{{currentSlide}}/{{maxSlides}}</div>
      </div>

      <div class="flex flex-col space-y-4 h-full flex-grow" *ngIf="currentSlide === 11">
        <h1>Tradin' Post</h1>
        <div class="flex space-x-4 w-full items-center">
          <div class="flex-1 flex-col space-y-4">
            <p>
              Don't have the right gems for a Marker or Track purchase? Head on down to the trading post to trade 3 of any combination of gems for 1 gem of any other type.
            </p>
            <p>
              Now don't get too greedy! You can only make a trade once per turn. 
            </p>
          </div>
          <div class="flex-1">
            <img class="boardImg" src="/assets/help/testBoard.png" />
          </div>
        </div>
        <div class="pt-4">{{currentSlide}}/{{maxSlides}}</div>
      </div>

      <div class="flex flex-col space-y-4 h-full flex-grow" *ngIf="currentSlide === 12">
        <h1>How To Win</h1>
        <div class="flex space-x-4 items-center w-full">
          <div class="flex-1 flex-col space-y-4">
            <p>
              First miner to 10 points wins!
            </p>
            <p>
              +1 for each mining marker placed
            </p>
            <p>
              +1 for each site you claim
            </p>
            <p>
              +2 for the miner with the longest set of connected
              rails in the mine
            </p>
          </div>
          <div class="flex-1">
            <img class="boardImg" src="/assets/help/testBoard.png" />
          </div>
        </div>
        <div class="pt-4">{{currentSlide}}/{{maxSlides}}</div>
      </div>

      <div class="flex flex-col space-y-4 h-full flex-grow" *ngIf="currentSlide === 13">
        <h1>Settin' Up a Competition</h1>
        <div class="flex space-x-4 w-full items-center">
          <div class="flex-1 flex-col space-y-4">
            <p>Pick your minin' background<br></p>
            <p>Just click on the buttons to toggle between all our nifty options for your duel.</p>
            <p>
              Want to pick your own minin' site arrangement?
            </p>
            <p>
              Enter in your mine configuration just like it has below separated by commas and make sure each o’ these letter/number pairings come up just once in the list.
            </p>
            <p>
              R1, R2, R3, B1, B2, B3, G1, G2, G3, Y1, Y2, Y3, 00
            </p>
          </div>
          <div class="flex-1">
            <img class="boardImg" src="/assets/help/testBoard.png" />
          </div>
        </div>
        <div class="pt-4">{{currentSlide}}/{{maxSlides}}</div>
      </div>

      <div class="flex flex-col space-y-4 h-full flex-grow" *ngIf="currentSlide === 14">
        <h1>Newfangled "On The Line" Technology</h1>
        <div class="flex space-x-4 w-full items-center">
          <div class="flex-1">
            <p>Here y'all get to pick if you wanna host a duel or 
              join one with a miner on the other side just waitin' to compete.</p>
            <p>Want to start the duel yourself? Click "Host Game" and pick them there settings
              like you'd do in any other matches. Now just sit and wait 'til somebody comes along
              to accept your challange.
            </p>
          </div>
          <div class="flex-1">
            <img src="/assets/help/testBoard.png" />
          </div>
        </div>
        <div class="pt-4">{{currentSlide}}/{{maxSlides}}</div>
      </div>

      <div class="flex flex-col space-y-4 h-full flex-grow" *ngIf="currentSlide === 15">
        <h1>Options Menu</h1>
        <div class="flex space-x-4 items-center w-full">
          <div class="flex-1 flex-col space-y-4">
            <p>
              Go here to look at all our nifty features
              in the mine. We got options to change the look
              and sound of your mining competition free of charge!
            </p>
            <p>
              Forgot a rule in the middle of a mining match?
              Click here to see the rules again.
            </p>
            <p>
              Giving up already?
              Exit the competition via this here emergency exit shaft.
            </p>
          </div>
          <div class="flex-1">
            <img class="boardImg" src="/assets/help/testBoard.png" />
          </div>
        </div>
        <p>
          Looks like you're all ready to go! Good luck, Miner!
        </p>
        <div class="pt-4">{{currentSlide}}/{{maxSlides}}</div>
      </div>

    </div>

    <div class="flex menu-btn" [ngClass]="dynamicClass('next')" (click)="incrementSlides()">
      Next
    </div>
  </div>
</div>