@font-face {
    font-family: 'Pixel Operator';
    src: url('PixelOperator-Bold.woff2') format('woff2'),
        url('PixelOperator-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixel Operator';
    src: url('PixelOperator.woff2') format('woff2'),
        url('PixelOperator.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

