<div class="submenu-container">
  <div class="submenu-header">
    <p>New Game</p>
  </div>
  <div class="submenu-body">
    <div class="flex w-1/3 space-x-3">
      <div class="menu-btn background-btn">BG1</div>
      <div class="menu-btn background-btn">BG2</div>
      <div class="menu-btn background-btn">BG3</div>
    </div>
    <div class="menu-btn" (click)="changeGameMode()">
      <div>
        <p>Game Mode: {{ this.gameModeString }}</p>
      </div>
    </div>
    <div class="menu-btn" (click)="changeAiDifficulty()" *ngIf="this.gameModeString === this.pva">
      <div>
        <p>AI Difficulty: {{ this.aiDifficultyString }}</p>
      </div>
    </div>
    <div class="menu-btn" (click)="this.guidedTutorial = !this.guidedTutorial">
      <div>
        <p>Guided Tutorial: {{ this.guidedTutorial ? 'On' : 'Off' }}</p>
      </div>
    </div>
    <div class="menu-btn" (click)="this.advancedOpts = !this.advancedOpts">
      <div>
        <p>Advanced Options...</p>
      </div>
    </div>
    <div class="menu-input" *ngIf="advancedOpts">
      <!-- oninput all uppercase credit to https://stackoverflow.com/users/5476516/yehuda-schwartz -->
      <input type="text" class="input-text" [(ngModel)]="boardSeed" placeholder="Board Seed" oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);">
    </div>
    <p class="leading-none text-base font-normal" *ngIf="advancedOpts">Leave blank for random seed</p>
  </div>
  <div class="submenu-footer">
    <div class="flex space-x-5 w-1/3">
      <div class="menu-btn flex-grow" routerLink="/menu/landing">
        <div>
          <p>Back</p>
        </div>
      </div>
      <div class="menu-btn w-full flex-grow" routerLink="/game">
        <div>
          <p>Start Game</p>
        </div>
      </div>
    </div>
  </div>
</div>