<div class="h-screen w-screen absolute top-0 left-0 z-neg bg-mountains"></div>
<div class="submenu-container">
  <div class="submenu-header flex flex-col">
    <p>Play Multiplayer</p>
    <p class="text-3xl">Username: {{this.displayName}}</p>
  </div>
  <div class="submenu-body" *ngIf="!this.isEnteringName && !this.isServerError">
    <div class="flex flex-col items-center space-y-5">
      <p *ngIf="!this.isConnected">Connecting to server</p>
      <p *ngIf="this.isConnected">Scanning for games on your local network</p>
      <div class="animate-bounce">
        <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path class="opacity-75" fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
          </path>
        </svg>
      </div>
      <div id="games_wrapper" class="flex flex-col space-y-5">
        <div *ngFor="let game of gamesList">
          <div class="w-screen flex flex-row justify-center">
            <div class="flex flex-row border-gray-600 bg-gray-900 border-4 p-2 w-1/2 items-center justify-between">
              <p class="text-xl text-left w-2/3">{{ game.host }} Wants to Play!</p>
              <div class="menu-btn flex text-xl h-2 p-0" (click)="JoinGame(game.address, game.host)">
                <p class="self-center">Join</p>
              </div>             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="submenu-footer">
    <div class="flex space-x-5 w-2/3 z-50">
      <div class="menu-btn w-1/4" routerLink="/menu/landing">
        <p>Back</p>
      </div>
      <div class="menu-btn w-1/4" [ngClass]="setButtons()" (click)="refresh()">
        <p>Refresh List</p>
      </div>
      <div class="menu-btn w-1/4" [ngClass]="setButtons()" routerLink="/menu/new/online/host">
        <p>Host Game</p>
      </div>
      <div class="menu-btn w-1/4" [ngClass]="setButtons()" (click)="this.isEnteringName = true">
        <p>Change Name</p>
      </div>
    </div>
  </div>
  </div>

<!--Username Entry Modal-->
<div class="h-screen w-screen overscroll-none text-center absolute top-0 right-0 bg-overlay z-25"
  *ngIf="this.isEnteringName">
  <div class="flex flex-row items-center content-center h-full">
    <div class="mx-auto flex flex-col space-y-4 w-2/3 max-w-md">
      <div class="bg-black border-4 border-gray-600 p-4">
        <p class="text-5xl font-bold tracking-wide p-4">Username</p>
        <form class="flex flex-row space-x-3 w-full" (ngSubmit)="setUsername()">
          <div class="menu-input w-2/3">
            <input type="text" class="input-text text-3xl" [(ngModel)]="username" name="usernameInput" placeholder="Miner Joe">
          </div>
          <input type="submit" class="menu-btn w-1/3 text-3xl" value="Enter">
        </form>
      </div>
    </div>
  </div>
</div>

<!--Server Error Modal-->
<div class="h-screen w-screen overscroll-none text-center absolute top-0 right-0 bg-overlay z-25"
  *ngIf="this.isServerError">
  <div class="flex flex-row items-center content-center h-full">
    <div class="mx-auto flex flex-col space-y-4 w-2/3 max-w-md">
      <div class="bg-black border-4 border-gray-600 p-4">
        <p class="text-5xl font-bold tracking-wide p-4">Something Went Wrong</p>
        <p class="text-5xl font-bold tracking-wide p-4">Please Restart the App and Try Again</p>
        <div class="menu-btn text-xl" routerLink="/menu/landing">
          OK
        </div>
      </div>
    </div>
  </div>
</div>

<app-snackbar class="z-inf" [timeout]="5000" position="bottom"></app-snackbar>